/.idea
/.fleet
.gradle
.kotlin
build
local.properties
/examples/src/commonMain/composeResources/files/island/building/buildings.bin
/examples/src/commonMain/composeResources/files/island/terrain/color.png
/examples/src/commonMain/composeResources/files/island/terrain/height.png
/examples/src/commonMain/composeResources/files/island/terrain/sdf.png
/examples/src/commonMain/composeResources/files/island/tree/trees.bin
yarn.lock